%html
  %head
    %title FlowerShop
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render "shared/flash"
    = render "shared/user_actions"
    = yield